
  <%= simple_form_for :task, remote: true do |f| %>
    <%= f.input :name, placeholder: 'Doux this ... later ', label: false %>
    <div class="my-button">
      <%= f.button :submit, 'Doux it !'  %>
    <!--       <i class="fa fa-cloud" aria-hidden="true"></i> -->

    </div>
  <% end %>

