<%= simple_form_for :task do |f| %>
  <%= f.input :name, placeholder: '...', label: false %>
  <div class="my-button">
    <%= f.button :submit, 'Doux IT'  %>
  <!--       <i class="fa fa-cloud" aria-hidden="true"></i> -->

  </div>

<% end %>
