<div class="wrapper-navbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-12 ">
        <div class="navbar">

          <div class="navbar-brand">
                    <div class="navbar-logo">
            <%= image_tag('sloth-icon.png') %>
          </div>
            TODoux
          </div>
          <div class="navbar-tagline">
          Only you can do it
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
