<div class="wrapper-navbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="navbar-brand">
          TODOux
          <i class="fa fa-cloud" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
