<div class="wrapper-blue full-viewport" id="homesplash">
  <div class="container">
    <div class="row" >
      <div class="col-xs-12 col-md-12">
        <div class="card-fullwidth">
          <%= link_to tasks_path do  %>
            <button class="btn btn-blue">
              <h4>Just doux it</h4>
            </button>
          <% end%>
        </div>
      </div>
    </div>
  </div>
</div>


