<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-4">
      <div class="card">
        <h3>Une idée de génie</h3>
             <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
        <h5>Ok, mais ToDoux alors !</h5>

      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card">
        <h3>Après l'heure</h3>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <h5>C'est encore l'heure !</h5>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card">
        <h3>Paroles, paroles, ... </h3>
        <i class="fa fa-microphone" aria-hidden="true"></i>
        <h5>On en reparle plus tard ?</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="card">
        <h3><%= link_to 'OKLM', tasks_path %></h3>
      </div>
    </div>
  </div>
</div>




