<div class="wrapper-blue full-viewport" id="homesplash">
  <div class="container">
    <div class="row" >
      <div class="col-xs-12 col-md-12">
        <div class="card-fullwidth">
          <%= link_to tasks_path do  %>
            <button class="btn btn-blue">
              <h4>Just doux it</h4>
           <!--    <i class="fa fa-cloud" aria-hidden="true"></i> -->
            </button>
          <% end%>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper-blue">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-4">
        <div class="card">
          <h3>Une idée de génie</h3>
               <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
          <h5>Ok, mais ToDoux alors !</h5>

        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <h3>Après l'heure</h3>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <h5>C'est encore l'heure !</h5>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <h3>Paroles, paroles, ... </h3>
          <i class="fa fa-microphone" aria-hidden="true"></i>
          <h5>On en reparle plus tard ?</h5>
        </div>
      </div>
    </div>
  </div>
</div>


 -->


