.card-welcome {
  min-height: 200px;
  margin: 10px;
  padding: 20px;
}


.card-new-task {
  display: flex;
  align-items: center;
  padding-top: 20px;
  background: $green-fresh;
  height: 40vh;
  .form-control {
    flex: 0 1 50%;
  }
  .form {
     align-items: center;
     height: 300px;
  }
  .btn {
    background: $white-cloud;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    color: $white;
    font-size: 22px;
  }
  // .btn {
  //   background: green;
  // }
}


.task-card {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 2px groove $white-cloud;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.task-card-name {
  padding-left: 10px;
  flex: 0 0 60%;
}

.task-card-controls {
  justify-content: end;
  .fa {
    margin-right: 10px;
  }
}

.fa-pencil, .fa-trash, .fa-check-circle {
  font-size: 1.3em;
}
.fa-pencil, .fa-check-circle {
  color: $blue;
}

.red {
  color: red;
}

.fa-trash {
  color: $dark-gray;
}



