.card {
  display: flex;
  align-items: center;
  height: 300px;
  justify-content: space-around;
  opacity: 0.88;
}

.card-fullwidth {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
    :hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3));
  }
}

.card-fullwidth button {
  flex: 0 0 auto;
}

.card .btn-success {
  opacity: 1;

  width: 200px;
}

#homesplash {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('paresseux.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-image-width: 100% !important;
  img {
    max-width: 100%;
  }

}

#task-form {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('plop.jpg');
  background-repeat: none;
  background-position: center;
  background-image-width: 100% !important;

}


.card-welcome {
  min-height: 200px;
  margin: 10px;
  padding: 20px;
}


.card-new-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* padding-top: 20px; */
  height: 69px;
  // background-image: linear-gradient(-225deg, rgba(59, 93, 115, 0.16) 0%, rgba(0, 36, 61, 0) 10%);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  background: #30364c29;
  /* margin-top: 10px; */
  .form-control {
    flex: 0 1 100%;
  }
  .form {
     align-items: center;
     height: 300px;
  }
  .btn {
    background: $green-button;
    border-radius: 4px;
    width: 80px;
    opacity: 0.95;
    height: 39px;
    margin: 4Px;
    color: #fff;
    font-size: 16px;
  }
  .btn:hover {
    opacity: 1;
  }
}


.task-card {
  display: flex;
  align-items: center;
  padding: 4px 4px 4px 8px;
  // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  background: rgba(94, 136, 241, 0.84);
  border-radius: 4px;
  opacity: 0.82;
  color: $white;
  &:hover {
  opacity: 1;
  }
}

.task-card-name {
  padding-left: 22px;
  flex: 0 1 auto;
}

.task-card-controls {
  justify-content: end;
      margin: 0px;
    max-height: 32px;
  .fa {
    margin-right: 10px;
  }
}

.fa-pencil, .fa-trash, .fa-check-circle {
  font-size: 1.3em;
}
.fa-pencil, .fa-check-circle {
  color: $blue;
}

.red {
  color: red;
}

.fa-trash {
  color: $dark-gray;
}

.mini {
  margin-top: 10px;
  height: 60px;
}


.card-dashboard {
  position: relative;
  padding: 20px;
  color: #fdefef;
  margin-bottom: 0px;
}

#stats-wiki h5 {
  font-size: 14px;
}

.time-visualize-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}


.blue-background {
  background: rgba(94, 136, 241, 0.84);
}

.green-background {
  background: rgba(67, 148, 83, 0.84);
}
.red-background {
  background: #da5252;
}
