.card {
  display: flex;
  align-items: center;
  height: 300px;
  justify-content: space-around;
  opacity: 0.88;
}

.card-fullwidth {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
    :hover {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3));
  }
}

.card-fullwidth button {
  flex: 0 0 auto;
}

.card .btn-success {
  opacity: 1;

  width: 200px;
}

#homesplash {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('paresseux.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-image-width: 100% !important;
  img {
    max-width: 100%;
  }

}

#task-form {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('plop.jpg');
  background-repeat: none;
  background-position: center;
  background-image-width: 100% !important;

}


.card-welcome {
  min-height: 200px;
  margin: 10px;
  padding: 20px;
}


.card-new-task {
  display: flex;
  align-items: center;
  padding-top: 20px;

  height: calc(80vh - 70px);
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('sloth.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-image-width: 100% !important;
  .form-control {
    flex: 0 1 50%;
  }
  .form {
     align-items: center;
     height: 300px;
  }
  .btn {
    background: $light-blue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    color: $white;
    font-size: 22px;
  }
  // .btn {
  //   background: green;
  // }
}


.task-card {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 2px groove $white-cloud;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.task-card-name {
  padding-left: 10px;
  flex: 0 0 60%;
}

.task-card-controls {
  justify-content: end;
  .fa {
    margin-right: 10px;
  }
}

.fa-pencil, .fa-trash, .fa-check-circle {
  font-size: 1.3em;
}
.fa-pencil, .fa-check-circle {
  color: $blue;
}

.red {
  color: red;
}

.fa-trash {
  color: $dark-gray;
}



