
.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
}

.navbar-logo {
  // flex: 0 1 100px;
  font-family: $header-font;
  font-style: italic;
}

.navbar-brand {
  flex: 0 1 auto;
  text-align: center;
  font-size: 44px;
  font-family: $header-font;
  color: $white;
  h6 {
    margin-top: -10px;
    text-decoration: underline;
  }
}

.navbar img {
    width: 50px;
    display: block;
}

.navbar-tagline {
  font-size: 20px;
  color: $white;
  font-family: $header-font;
  flex: 0 0 auto;
}

.navbar-tagline img {
  width: 50px;
}



.fa-cloud {
 font-size: 74px;
 color: $white;
}

