
.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
}

.navbar-logo {
  // flex: 0 1 100px;
  font-family: $header-font;
  font-style: italic;
  display: inline;
}

.navbar-brand {
  flex: 0 0 300px;
  text-align: left;
  font-size: 32px;
  font-family: $header-font;
  color: $white;
  flex: 0 0 auto;
  h6 {
    margin-top: -10px;
    text-decoration: underline;
  }
}

.navbar img {
  width: 50px;
  display: inline-block;
  margin-right: 10px;
}

.navbar-tagline {
  font-size: 26px;
  color: $white;
  font-family: $header-font;
  // flex: 0 0 auto;
  flex: 0 1 650px;
}

.navbar-tagline img {
  width: 50px;
}



.fa-cloud {
 font-size: 74px;
 color: $white;
}

