.inline {
  display: inline;
}

.fa {
  display: inline;
  margin-right: 10px;
}

.local-weather-icon {
  position: absolute;
  top: -10px;
  right: -10px;
}

.wrapper-navbar {
    width: 100% !important;
    margin: 0px auto;
    /* height: 53px; */
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    // background: rgba(94, 136, 241, 0.84);
}

.wrapper-footer {

}



.wrapper-white {
  width: 100% !important;
  padding: 30px;
}

#wrapper-bamboo {
    /* position: absolute; */
    /* top: 0px; */
    padding-top: 100px;
  .task-name {
    width: 100%;
  }
  .form-control {
    flex: 0 1 98%;
  }
}

.wrapper-blue {
  background: $blue;
}

.wrapper-green {
  background: $light-green;
}

.full-viewport {
  height: calc(100vh - 80px);
}

.btn-blue {
  background: $blue;
  padding: 10px 10px 4px 10px;
  opacity: 0.72;
  border: 2px solid #6DA2E9;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid $light-blue;

  h4 {
    color: $white;
    font-size: 22px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  h5 {
    font-size: 12px;
    color: $dark-gray;
  }
}

#dunnit .task-card {
  background: #65e495;
  color: #313030;
  font-size: 14px;
}

#local-weather {
    /* background-image: linear-gradient(-225deg, rgba(17, 43, 19, 0.6) 0%, rgba(0, 0, 0, 0.5) 100%), url(monet_argenteuil); */
    position: relative;
    /* display: flex; */
    -ms-flex-pack: distribute;
    /* justify-content: space-around; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    /* align-items: center; */
  ul {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    padding-top: 10px;
  }
  img {
    width: 50px;
    padding-right: 10px;
  }
}

#local-weather-metrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#weather_react {
  margin: 0 auto;
}

#weather_minmax {
position: absolute;
top: 10px;
left: 10px;
}

#worldweather {
  ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
  }
  li {
    border-bottom: 1px solid silver;
  }
}

.fa-calendar {
color: red;
}

#task_deadline {
  z-index: 99999;
  width: 110px;
  margin-left: 10px;
  margin-right: 10px;
  // display: none;
}
