.wrapper-navbar {
    width: 100% !important;
    margin: 0px auto;
    /* height: 53px; */
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: rgba(94, 136, 241, 0.84);
}

.wrapper-footer {

}



.wrapper-white {
  width: 100% !important;
  padding: 30px;
}

#wrapper-bamboo {
background-image: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(0, 36, 61, 0.4) 10%), url(bamboo.jpg);
    /* position: absolute; */
    /* top: 0px; */
    padding-top: 100px;
  .task-name {
    width: 100%;
  }
  .form-control {
    flex: 0 1 98%;
  }
}

.wrapper-blue {
  background: $blue;
}

.wrapper-green {
  background: $light-green;
}

.full-viewport {
  height: calc(100vh - 80px);
}

.btn-blue {
  background: $blue;
  padding: 10px 10px 4px 10px;
  opacity: 0.72;
  border: 2px solid #6DA2E9;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid $light-blue;

  h4 {
    color: $white;
    font-size: 22px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  h5 {
    font-size: 12px;
    color: $dark-gray;
  }
}

#dunnit .task-card {
  background: #DE5054;
}

#my_city_weather {
  background-image: linear-gradient(-225deg, rgba(17, 43, 19, 0.6) 0%, rgba(0, 0, 0, 0.5) 100%), url(monet_argenteuil);  padding: 20px;
  min-height: 240px;
  background-size: 100% 120%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#weather_react {
  margin: 0 auto;
}

#current_weather{
padding: 20px;
  ul {
    list-style-type: none;
    padding-left: 10px;
    margin-top: 10px;
  }
}

#weather_minmax {
position: absolute;
top: 10px;
left: 10px;
}

#worldweather {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.fa-calendar {
color: red;
}

#task_deadline {
  z-index: 99999;
  width: 200px;
  // display: none;
}
